<div class="tui-container tui-container_adaptive">
  <div class="tui-row tui-row_adaptive channels">
    <app-channel (navigateToChannel)="onNavigateToChannel($event)" class="channel tui-col_xs-12 tui-col_sm-6 tui-col_md-6 tui-col_lg-4"></app-channel>
    <app-channel (navigateToChannel)="onNavigateToChannel($event)" class="channel tui-col_xs-12 tui-col_sm-6 tui-col_md-6 tui-col_lg-4"></app-channel>
    <app-channel (navigateToChannel)="onNavigateToChannel($event)" class="channel tui-col_xs-12 tui-col_sm-6 tui-col_md-6 tui-col_lg-4"></app-channel>
    <app-channel (navigateToChannel)="onNavigateToChannel($event)" class="channel tui-col_xs-12 tui-col_sm-6 tui-col_md-6 tui-col_lg-4"></app-channel>
    <app-channel (navigateToChannel)="onNavigateToChannel($event)" class="channel tui-col_xs-12 tui-col_sm-6 tui-col_md-6 tui-col_lg-4"></app-channel>
    <app-channel (navigateToChannel)="onNavigateToChannel($event)" class="channel tui-col_xs-12 tui-col_sm-6 tui-col_md-6 tui-col_lg-4"></app-channel>
    <app-channel (navigateToChannel)="onNavigateToChannel($event)" class="channel tui-col_xs-12 tui-col_sm-6 tui-col_md-6 tui-col_lg-4"></app-channel>
    <app-channel (navigateToChannel)="onNavigateToChannel($event)" class="channel tui-col_xs-12 tui-col_sm-6 tui-col_md-6 tui-col_lg-4"></app-channel>
    <app-channel (navigateToChannel)="onNavigateToChannel($event)" class="channel tui-col_xs-12 tui-col_sm-6 tui-col_md-6 tui-col_lg-4"></app-channel>
    <app-channel (navigateToChannel)="onNavigateToChannel($event)" class="channel tui-col_xs-12 tui-col_sm-6 tui-col_md-6 tui-col_lg-4"></app-channel>
  </div>
</div>
