:host {
  display: block;
  cursor: pointer;
}

.post-date {
  font-size: 11px;
  color: #757575;
  margin-top: 8px;
}


.post-info {
  margin-top: 8px;

  .post-title {
    font-size: 17px;
    font-weight: bold;
  }
  .post-description {
    font-size: 15px;
    color: #757575;
  }
}
