<div class="tui-container tui-container_adaptive">
  <div class="tui-row tui-row_adaptive posts">
    <app-post class="post tui-col_xs-12 tui-col_sm-6 tui-col_md-6 tui-col_lg-4"></app-post>
    <app-post class="post tui-col_xs-12 tui-col_sm-6 tui-col_md-6 tui-col_lg-4"></app-post>
    <app-post class="post tui-col_xs-12 tui-col_sm-6 tui-col_md-6 tui-col_lg-4"></app-post>
    <app-post class="post tui-col_xs-12 tui-col_sm-6 tui-col_md-6 tui-col_lg-4"></app-post>
    <app-post class="post tui-col_xs-12 tui-col_sm-6 tui-col_md-6 tui-col_lg-4"></app-post>
  </div>
</div>
